<!DOCTYPE html>
<html lang="en">
    <head>
<!-- metatags -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Impulsion is a habit breaking web app that provides its users with positive reinforcement and useful habit-breaking tips.">
<!-- android theme color -->
        <meta name="theme-color" content="#4169E1">

<!-- favicon -->
        <link rel="icon" href="" sizes="32x32">

<!-- styles and <links> -->
        <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/materialize.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Lato">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- javascript files -->
          <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
          <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="js/materialize.js"></script>
          <script type="text/javascript" src="/js/registration.js"></script>
          <script type="text/javascript" src="/js/commentscript.js"></script>
          <link rel='stylesheet' href='commentstyle.css'/>
          <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
          <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

        <title>Impulsion | The Habit Breaking App</title>
    </head>

    <body>
        {{#if error}}
          <p class="alert alert-warning">{{error}}</p>
        {{/if}}

        {{#if success}}
          <p class="alert alert-success">{{success}}</p>
        {{/if}}

        {{#if notice}}
          <p class="alert alert-info">{{notice}}</p>
        {{/if}}

        {{{body}}}

      </body>
</html>
