<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/materialize.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Lato">

          <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
          <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="../js/materialize.js"></script>
          <script type="text/javascript" src="/js/registration.js"></script>


        <title>Impulsion | The Habit Breaking App</title>
    </head>
    <body>
        {{#if error}}
          <p class="alert alert-warning">{{error}}</p>
        {{/if}}

        {{#if success}}
          <p class="alert alert-success">{{success}}</p>
        {{/if}}

        {{#if notice}}
          <p class="alert alert-info">{{notice}}</p>
        {{/if}}

        {{{body}}}



        </script>
    </body>
</html>
