
<div class="home">

  <div class="container">

    <div class="row">

      <div class="card-panel s12 homeHead">
        <h1>Impulsion.io</h1>
        <h3>Break habits. Get support. Socialize.</h3>

        <a class="waves-effect waves-green btn-large white modal-trigger" href="#modal1">Get started!</a>
      <br/>
      <br/>
        <p>Already a member?</p>
        <a class="waves-effect waves-green btn-large white" href="">Login</a>

      </div>

    </div>

  </div>

</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
