<body class="home">

  <div class="container">

    <div class="row">

      <div class="card-panel s12 homeHead">
        <h1>Impulsion.io</h1>
        <h3>Break habits. Get support. Socialize.</h3>

        <a class="waves-effect waves-green btn-large white modal-trigger" href="/registration">Get started!</a>
      <br/>
      <br/>
        <p>Already a member?</p>
        <a class="waves-effect waves-green btn-large white" href="/login">Login</a>

      </div>

    </div>

  </div>

</body>
