
<body class="home">

  <div class="container">

    <div class="row">

      <div class="card-panel s12 homeHead">
        <h1>Impulsion.io</h1>
        <h3>Break habits. Get support. Socialize.</h3>

        <button class="waves-effect waves-green btn-large white" formaction="/registration">Get started!</button>
      <br/>
      <br/>
        <p>Already a member?</p>
        <button class="waves-effect waves-green btn-large white">Login</button>

      </div>

    </div>

  </div>

</body>
