<style>
/*#about{
  padding-bottom: 15px;
  margin-top: -50px;
  display: none;
}

#index-banner{
  height: 100vh;
}

.landingHead{
  padding-top: 60px;
}

#nav{
  display: none;
}

#sunset{
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    z-index:-1;
}*/

</style>

<body id="landing" class="black">

<img id="sunset" src="../img/sunset.png"/>

<div class="navbar-fixed">

  <nav>
      <div class="nav-wrapper" id="nav">
          <img src="/img/impulsion.png" class="brand-logo center"/>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
              <li><a class="modal-trigger" href="#modal2">Login</a></li>
              <li><a class="modal-trigger" href="#modal1">Register</a></li>
              <li><a href="#aboutSection" style="  color: #17a5e0;">About</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>

          <ul class="side-nav" id="mobile-demo">
              <li><a class="modal-trigger" href="#modal2">Login</a></li>
              <li><a class="modal-trigger" href="#modal1">Register</a></li>
              <li><a href="#aboutSection">About</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
      </div>
  </nav>


</div>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container landingHead">
      <br><br>

      <h1 class="header center teal-text text-lighten-2 title titleAnimate">Impulsion.io</h1>

      <div class="row center">
        <h3 class="col s12 tagline" style="color: white;">Break habits. Get support. Socialize.</h3>
      </div>
      <!-- buttons -->
      <div class="row center">
        <div class="col m4 offset-m2 s12">
            <a class="waves-effect waves-green btn-large modal-trigger homeButton" href="#modal2" style="width: 137px;">Log in</a>
        </div>

        <div class="col m4 s12">
            <a class="waves-effect waves-green btn-large modal-trigger homeButton" href="#modal1">Register</a>
        </div>
      </div>

      <div class="row center">
        <div class="">
            <a class="waves-effect waves-green btn-large  homeButton" href="#aboutSection">Learn More</a>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <div class="section">

    <div class="row section scrollspy" id="aboutSection">

      <div class="card-panel col s12 m8 offset-m2  section scrollspy" id="about">
        <h3 class="center">What is
          <span class="titleAnimate">Impulsion?</span>
        </h3>

        <div class="col s12">
           <h5 class="left"> Impulsion is a private web application that helps you free yourself from unwanted habits.</h5>
           <h5 class="left">
             Using positive reinforcement, habit-specific advice, and social elements, Impulsion empowers you to break habits while connecting you with other people.
           </h5>

           <h4 class="center"><a class="modal-trigger" href="#modal1">Try Impulsion today! </a></h4>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="container">
  <div class="section">

    <!-- <div class="row">
      <div class="card-panel col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div> -->

  </div>
</div>


<footer class="page-footer black">
  <div class="footer-copyright">
    <div class="container center">
    <a class="brown-text text-lighten-3 center" href="http://impulsion.io">Impulsion Dev ©</a>
    </div>
  </div>
</footer>

<!-- REGISTRATION MODAL -->
<div id="modal1" class="modal">
    <div class="card-panel col s12">

        <h3 class="center">Register</h3>

        <form class="" id="registration" method="POST" action="/register">

            <div class="card-panel">

                <label>Username</label>

                    <input type="text" name="username" placeholder="Username" id="username"></input>

                <label>Email</label>


                    <input type="text" id="email" name="email" placeholder="john.smith@email.com"></input>


                <div class="form-group">
                    <label for="sel1">Habit you want to break:</label>
                    <select class="form-control" name="habit" id="sel1">
                        {{#each habits}}
                            <option value="{{this.id}}">{{this.habit}}</option>
                        {{/each}}
                    </select>
                </div>


                <label>Password</label>
                <input type="password" id="password" name="password" placeholder="password@123">

                <label>Re-Enter Password</label>
                <input type="password" id="check_password" name="renter-password" placeholder="password@123"></input>
            </div>

            <button class="waves-effect waves-purple btn-large black register" type="submit" id="submit-registration">Submit</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right">Close</a>
        </form>

    </div>

</div>

<!-- LOGIN MODAL -->

<div id="modal2" class="modal">

      <div id="loginForm">

          <div class="card-panel col s12">
              <h2 class="center">Log In</h2>
              <div class="card-panel col m8 offset-m2 s12">

                  <form id="login" action="/login" method="POST">
                      <div class="">
                          <div class="field">
                              <div class="">
                                  <i class="user icon"></i>
                                  <input type="text" name="username" placeholder="Username" id="username">
                              </div>
                          </div>
                          <div class="field">
                              <div class="">
                                  <i class="lock icon"></i>
                                  <input type="password" name="password" placeholder="Password" id="username">
                              </div>
                          </div>
                          <button class="waves-effect waves-yellow btn-large black register" type="submit" id="login">Login</button>
                          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right">Close</a>

                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>


<script type="text/javascript">
$(function(){
  $('.modal-trigger').leanModal();
$(".button-collapse").sideNav();
$('.scrollspy').scrollSpy();

var options = [
  {selector: '#about', offset: 300, callback: function(){
    nav.style.visibility = "visible";
    $('#about').fadeIn(3000);
    $('#nav').fadeIn(3000);
    $('#sunset').fadeIn(3000);
  }},
  {selector: '#about', offset: 300, callback: function(){
    nav.style.visibility = "visible";

  }}
];

Materialize.scrollFire(options);

});

    $(document).ready(function() {
        // Error validation for the registration page
        // var $email = $('#registration #email');
        // var $password = $('#registration #password');
        // var $check_password = $('#registration #check_password');
        // var $submit = $('#submit-registration');
        // var $username = $('#registration #username');
        //
        // if($password.val().trim() === $check_password.val().trim()){
        //     console.log('passwords match!');
        //     // console.log($email, $password, $check_password, $username);
        //     $submit.removeClass('disabled');
        // }else {
        //     $submit.addClass('disabled');
        // };
    });

</script>

</body>
