
<body class="home">

  <div class="container">

    <div class="row">

      <div class="card-panel s12 homeHead">
        <h1>Impulsion.io</h1>
        <h3>Break habits. Get support. Socialize.</h3>

        <button class="waves-effect waves-teal btn-large white">Get started!</button>
      </div>

    </div>

  </div>



    <!-- Following Menu -->
    <!-- <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item" href="/">Home</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button"href="/login">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button" href="/reigster">Sign Up</a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Page Contents -->
    <!-- <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item" href="/">Home</a>
                    <div class="right item">
                        <a class="ui inverted button" href="login">Log in</a>
                        <a class="ui inverted button" href="/registration">Sign Up</a>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
      Impulsion.io
    </h1>
                <h2>Break habits. Get Support. Socialize.</h2>
                <a href="/registration">
                    <div class="ui huge primary button" >Get Started <i class="right arrow icon"></i></div>
                </a>
            </div>

        </div> -->
