<body class="escalate">
    <div class="container">

        <div class="row">

            <div class="card-panel col s12">
              <h2 class="center">Register</h2>
              <div class="card-panel col m8 offset-m2 s12">

                <form class="" id="registration" method="POST" action="/new_user/profile">

                    <div class="">

                        <label>Username</label>

                        <input type="text" name="username" placeholder="Username"></input>

                        <label>Email</label>

                        <input type="text" name="email" placeholder="john.smith@email.com"></input>


                        <div class="form-group">
                            <label for="sel1">Habit you want to break:</label>
                            <select class="form-control" id="sel1">
                                {{#each comments}}
                                    <option>{{this.habit}}</option>
                                {{/each}}
                                <!-- <option>Smoking</option>
                                <option>Procrastinating</option>
                                <option>Nail-biting</option>
                                <option>Drinking</option> -->
                            </select>
                        </div>


                        <label>Password</label>

                        <input type="password" id="password" name="password" placeholder="password@123">
                        <label>Re-Enter Password</label>

                        <input type="password" id="check_password" name="renter-password" placeholder="password@123"></input>
                    </div>

                    <button class="waves-effect waves-purple btn-large black register" type="submit" id="submit">Submit</button>
                </form>
            </div>
          </div>
        </div>
    </div>
</body>
