.home{
  background-color: #000;
  background-image: url("../img/escalator.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.escalate{
  background-color: #000;
  background-image: url("../img/escalator.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.title{
  -webkit-animation: color_change 1s infinite alternate;
-moz-animation: color_change 1s infinite alternate;
-ms-animation: color_change 1s infinite alternate;
-o-animation: color_change 1s infinite alternate;
animation: color_change 1s infinite alternate;

}
button.register{
width: 100%;
margin-bottom: 10px;
}

h1, h2, h3, h4, h5{
  font-family: 'Lato', sans-serif;
}

.homeHead{
  text-align: center;
  margin: 10% 0px 25% 0px;
}

.sage{
  background-color: #9caf84;
}

.otherBlue{
  background-color: #96CDCD;
}

a.white{
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

a.black{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

div.black{
  color: #fff;
}

.profile{
  text-align: center;
}

.modal{
margin-top: 0px;
}

@keyframes example {
  0%   {color: black;}
  25%  {color: green;}
  50%  {color: purple;}
  75%  {color: blue;}
  100% {color: black;}
}

.titleAnimate {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
