.home{
  background-color: #000;
  background-image: url("../img/escalator.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -50px;
}

.escalate{
  background-color: #000;
  background-image: url("../img/escalator.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

button.register{
width: 100%;
margin-bottom: 10px;
}

h1, h2, h3, h4, h5{
  font-family: 'Lato', sans-serif;
}

.homeHead{
  text-align: center;
  margin: 25% 0px 25% 0px;
}

.sage{
  background-color: #9caf84;
}

.otherBlue{
  background-color: #96CDCD;
}

a.white{
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

a.black{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.profile{
  text-align: center;
}
