.home{
  background-color: #000;
}

.dash{
  background-image: url('../img/weirdblue.png');
}

.escalate{
  background-color: #000;
  background-image: url("../img/escalator.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
/*home*/
.title{
  -webkit-animation: color_change 1s infinite alternate;
-moz-animation: color_change 1s infinite alternate;
-ms-animation: color_change 1s infinite alternate;
-o-animation: color_change 1s infinite alternate;
animation: color_change 1s infinite alternate;
}

.baseTitle{
  text-align: center;
  margin-top: 100px;
}

button.register{
width: 100%;
margin-bottom: 10px;
}

h1, h2, h3, h4, h5{
  font-family: 'Lato', sans-serif;
}

.homeHead{
  text-align: center;
  margin: 10% 0px 25% 0px;
}

a.white{
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

a.black{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

div.black{
  color: #fff;
}

.profile{
  text-align: center;
}


/*homepage logo color animation*/
@keyframes example {
  0%   {color: white;}
  25%  {color: green;}
  50%  {color: teal;}
  75%  {color: aqua;}
  100% {color: white;}
}

.titleAnimate {
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.modal{
margin-top: 0px;
}

a.homeButton{
  background-color: black;
  color: white;
  border: 2px solid;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.welcome{
  text-align:center;
}

.chatContainer{
  background-color: #89bdd3;
  margin-left: 10px;
}

.chat{
  margin: 50px 10px 50px 10px;
  background-color: #fff;
}

.top-nav{
    background-color: #89bdd3;
    padding: 10px 0px 5px 0px;
    height: auto;
}

.buttonDiv{
float: right;
margin-right: 10px;
margin-bottom: 10px
}

.card-panel{
  background-color: #c9c9c9;
}

.progress{
  background-color: #c9c9c9;
  height: 30px;
}
/*colors*/
  .lightGray{
    background-color: #e3e3e3;
  }

  .darkGray{
    background-color:#c9c9c9;
  }

  .lightBlue{
    background-color:#9ad3de;
  }

  .sage{
    background-color: #9caf84;
  }

  .otherBlue{
    background-color: #96CDCD;
  }

  .royalBlue{
    background-color: #4169E1;
  }

.dashNav{
  padding:0px 0px;
  margin: auto;
}

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    -webkit-transform: translateX(105%)!important;
            transform: translateX(105%)!important;
  }
  .side-nav.fixed.right-aligned {
    -webkit-transform: translateX(105%)!important;
            transform: translateX(105%)!important;
            color: #d21034;
  }
  .side-nav a {
    padding: 0 16px;
  }
  .side-nav .userView {
    padding: 16px 16px 0;
  }
  .chatPanel{
    display: block;
  }
}

.dashboard{

}

@media only screen and (min-width: 993px){
    .dashboard{
    position: relative;
    padding: 15px 50px 0px 0px;
    margin-left: 60px;
  }
  .dashNav{
  padding: 0px 0px;
  margin-left: 75px;
  }
  .chatPanel{
    display: none;
  }
}
