<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item" href="/">Home</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button"href="/login">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button" href="/reigster">Sign Up</a>
            </div>
        </div>
    </div>
</div>
